
.landing-box
{
  padding-top: 120px;
  padding-left: 30px;
  float: left;
}

.landing-text-h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
}

.landing-text
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: left;
}

.icon
{
  padding-right: 20px;
}

.video-intro
{
  text-align: center;
  padding-top: 170px;
}
